{% extends "base.html" %}
{% block content %}
    <div class="container">
        <ul class="list">
            <li class="item">
                <h3>{{ post.title }}</h3>
                <div class="content">{{ post.content|linebreaksbr }}</div>
            </li>
        </ul>
        <hr>
        <a href="{% url 'blog:index' %}">
            <button type="button" class="btn btn-primary to-main">메인으로</button>
        </a>
        <form action="{% url 'blog:delete' pk=post.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">삭제하기</button>
        </form>
    </div>

{% endblock  %}